openapi: 3.2.0
info:
  title: TVmaze Public Updates API
  description: 'The TVmaze API is a free RESTful API that returns rich television show, episode, season,

    cast, crew, and schedule data. The public endpoints require no authentication and are

    licensed under CC BY-SA — attribution to tvmaze.com is required. A paid Premium tier

    unlocks a separate user-scoped API documented as `tvmaze-premium-openapi.yml`.


    Rate limit: at least 20 calls every 10 seconds per IP. HTTP 429 indicates the limit

    was exceeded.'
  version: '1.0'
  contact:
    name: TVmaze
    url: https://www.tvmaze.com/api
  license:
    name: CC BY-SA 4.0
    url: https://creativecommons.org/licenses/by-sa/4.0/
servers:
- url: https://api.tvmaze.com
  description: Production API (HTTPS)
- url: http://api.tvmaze.com
  description: Production API (HTTP)
tags:
- name: Updates
  description: Bulk timestamps useful for incremental sync of shows and people.
paths:
  /updates/shows:
    get:
      tags:
      - Updates
      operationId: getShowUpdates
      summary: Get Show Updates
      description: Return a map of show IDs to last-updated timestamps for incremental sync.
      parameters:
      - name: since
        in: query
        required: false
        schema:
          type: string
          enum:
          - day
          - week
          - month
      responses:
        '200':
          description: Object keyed by show ID with timestamp values.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: integer
                  format: int64
              examples:
                default:
                  summary: Example response for /updates/shows
                  value:
                    '81': 1780096192
                    '240': 1780096286
                    '279': 1780134751
                    '289': 1780109768
                    '675': 1780088592
      x-microcks-operation:
        defaultExample: default
      x-microcks-default: default
  /updates/people:
    get:
      tags:
      - Updates
      operationId: getPersonUpdates
      summary: Get Person Updates
      description: Return a map of person IDs to last-updated timestamps for incremental sync.
      parameters:
      - name: since
        in: query
        required: false
        schema:
          type: string
          enum:
          - day
          - week
          - month
      responses:
        '200':
          description: Object keyed by person ID with timestamp values.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: integer
                  format: int64
