openapi: 3.2.0
info:
  title: TVmaze Public People API
  description: 'The TVmaze API is a free RESTful API that returns rich television show, episode, season,

    cast, crew, and schedule data. The public endpoints require no authentication and are

    licensed under CC BY-SA — attribution to tvmaze.com is required. A paid Premium tier

    unlocks a separate user-scoped API documented as `tvmaze-premium-openapi.yml`.


    Rate limit: at least 20 calls every 10 seconds per IP. HTTP 429 indicates the limit

    was exceeded.'
  version: '1.0'
  contact:
    name: TVmaze
    url: https://www.tvmaze.com/api
  license:
    name: CC BY-SA 4.0
    url: https://creativecommons.org/licenses/by-sa/4.0/
servers:
- url: https://api.tvmaze.com
  description: Production API (HTTPS)
- url: http://api.tvmaze.com
  description: Production API (HTTP)
tags:
- name: People
  description: Person profiles, cast credits, and crew credits.
paths:
  /people:
    get:
      tags:
      - People
      operationId: listPeople
      summary: List People
      description: Paginated index of every person on TVmaze (1000 per page).
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
      responses:
        '200':
          description: Array of people.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Person'
        '404':
          description: Page out of range
  /people/{id}:
    get:
      tags:
      - People
      operationId: getPerson
      summary: Get Person
      description: Return a single person.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Person record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'
              examples:
                default:
                  summary: Example response for /people/{id}
                  value:
                    id: 1
                    url: https://www.tvmaze.com/people/1/mike-vogel
                    name: Mike Vogel
                    country:
                      name: United States
                      code: US
                      timezone: America/New_York
                    birthday: '1979-07-17'
                    deathday: null
                    gender: Male
                    image:
                      medium: https://static.tvmaze.com/uploads/images/medium_portrait/0/1815.jpg
                      original: https://static.tvmaze.com/uploads/images/original_untouched/0/1815.jpg
                    updated: 1779526576
                    _links:
                      self:
                        href: https://api.tvmaze.com/people/1
      x-microcks-operation:
        defaultExample: default
      x-microcks-default: default
  /people/{id}/castcredits:
    get:
      tags:
      - People
      operationId: getPersonCastCredits
      summary: Get Person Cast Credits
      description: Return show-level cast credits for a person.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Array of cast credits.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
  /people/{id}/crewcredits:
    get:
      tags:
      - People
      operationId: getPersonCrewCredits
      summary: Get Person Crew Credits
      description: Return show-level crew credits for a person.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Array of crew credits.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
  /people/{id}/guestcastcredits:
    get:
      tags:
      - People
      operationId: getPersonGuestCastCredits
      summary: Get Person Guest Cast Credits
      description: Return episode-level guest cast credits for a person.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Array of guest cast credits.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
components:
  schemas:
    Image:
      type: object
      properties:
        medium:
          type: string
          format: uri
        original:
          type: string
          format: uri
    Person:
      type: object
      properties:
        id:
          type: integer
        url:
          type: string
          format: uri
        name:
          type: string
        country:
          allOf:
          - $ref: '#/components/schemas/Country'
        birthday:
          type:
          - string
          - 'null'
          format: date
        deathday:
          type:
          - string
          - 'null'
          format: date
        gender:
          type:
          - string
          - 'null'
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        updated:
          type: integer
          format: int64
        _links:
          $ref: '#/components/schemas/Links'
    Country:
      type: object
      properties:
        name:
          type: string
        code:
          type: string
        timezone:
          type: string
    Links:
      type: object
      additionalProperties:
        type: object
        properties:
          href:
            type: string
            format: uri
          name:
            type: string
