openapi: 3.2.0
info:
  title: TVmaze Public Seasons API
  description: 'The TVmaze API is a free RESTful API that returns rich television show, episode, season,

    cast, crew, and schedule data. The public endpoints require no authentication and are

    licensed under CC BY-SA — attribution to tvmaze.com is required. A paid Premium tier

    unlocks a separate user-scoped API documented as `tvmaze-premium-openapi.yml`.


    Rate limit: at least 20 calls every 10 seconds per IP. HTTP 429 indicates the limit

    was exceeded.'
  version: '1.0'
  contact:
    name: TVmaze
    url: https://www.tvmaze.com/api
  license:
    name: CC BY-SA 4.0
    url: https://creativecommons.org/licenses/by-sa/4.0/
servers:
- url: https://api.tvmaze.com
  description: Production API (HTTPS)
- url: http://api.tvmaze.com
  description: Production API (HTTP)
tags:
- name: Seasons
  description: Season-level metadata and episode listings.
paths:
  /seasons/{id}:
    get:
      tags:
      - Seasons
      operationId: getSeason
      summary: Get Season
      description: Return a single season.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Season record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Season'
              examples:
                default:
                  summary: Example response for /seasons/{id}
                  value:
                    id: 1
                    url: https://www.tvmaze.com/seasons/1/under-the-dome-season-1
                    number: 1
                    name: ''
                    episodeOrder: 13
                    premiereDate: '2013-06-24'
                    endDate: '2013-09-16'
                    network:
                      id: 2
                      name: CBS
                      country:
                        name: United States
                        code: US
                        timezone: America/New_York
                      officialSite: https://www.cbs.com/
                    webChannel: null
                    image:
                      medium: https://static.tvmaze.com/uploads/images/medium_portrait/24/60941.jpg
                      original: https://static.tvmaze.com/uploads/images/original_untouched/24/60941.jpg
                    summary: ''
                    _links:
                      self:
                        href: https://api.tvmaze.com/seasons/1
      x-microcks-operation:
        defaultExample: default
      x-microcks-default: default
  /seasons/{id}/episodes:
    get:
      tags:
      - Seasons
      operationId: getSeasonEpisodes
      summary: Get Season Episodes
      description: Return the episodes of a season.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Array of episodes.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Episode'
components:
  schemas:
    Links:
      type: object
      additionalProperties:
        type: object
        properties:
          href:
            type: string
            format: uri
          name:
            type: string
    Season:
      type: object
      properties:
        id:
          type: integer
        url:
          type: string
          format: uri
        number:
          type: integer
        name:
          type: string
        episodeOrder:
          type:
          - integer
          - 'null'
        premiereDate:
          type:
          - string
          - 'null'
          format: date
        endDate:
          type:
          - string
          - 'null'
          format: date
        network:
          allOf:
          - $ref: '#/components/schemas/Network'
        webChannel:
          allOf:
          - $ref: '#/components/schemas/WebChannel'
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        summary:
          type:
          - string
          - 'null'
        _links:
          $ref: '#/components/schemas/Links'
    Country:
      type: object
      properties:
        name:
          type: string
        code:
          type: string
        timezone:
          type: string
    Episode:
      type: object
      properties:
        id:
          type: integer
        url:
          type: string
          format: uri
        name:
          type: string
        season:
          type: integer
        number:
          type:
          - integer
          - 'null'
        type:
          type: string
          description: regular, significant_special, insignificant_special
        airdate:
          type:
          - string
          - 'null'
          format: date
        airtime:
          type:
          - string
          - 'null'
        airstamp:
          type:
          - string
          - 'null'
          format: date-time
        runtime:
          type:
          - integer
          - 'null'
        rating:
          $ref: '#/components/schemas/Rating'
        image:
          allOf:
          - $ref: '#/components/schemas/Image'
        summary:
          type:
          - string
          - 'null'
        _links:
          $ref: '#/components/schemas/Links'
    Network:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        country:
          $ref: '#/components/schemas/Country'
        officialSite:
          type:
          - string
          - 'null'
    Rating:
      type: object
      properties:
        average:
          type:
          - number
          - 'null'
    WebChannel:
      allOf:
      - $ref: '#/components/schemas/Network'
    Image:
      type: object
      properties:
        medium:
          type: string
          format: uri
        original:
          type: string
          format: uri
