openapi: 3.0.0
info:
  title: TVmaze Premium User auth followed shows API
  description: 'Premium-only user API for TVmaze. Access is restricted to users with a paid

    [Premium subscription](https://www.tvmaze.com/premium). A user can only access

    their own data.


    Authentication uses HTTP Basic: the TVmaze username is the basic-auth username and

    the API key (visible on the user dashboard) is the basic-auth password. There is

    also a device-style auth-pairing flow exposed at `/auth/start` and `/auth/poll`.

    '
  version: '1.0'
  contact:
    name: TVmaze
    url: https://www.tvmaze.com
  license:
    name: CC BY-SA 4.0
    url: https://creativecommons.org/licenses/by-sa/4.0/
servers:
- url: https://api.tvmaze.com/v1
- url: http://api.tvmaze.com/v1
security:
- usertoken: []
tags:
- name: followed shows
paths:
  /user/follows/shows:
    get:
      parameters:
      - description: Embed full show info
        in: query
        name: embed
        required: false
        schema:
          enum:
          - show
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ShowFollow'
                type: array
          description: An array of followed shows
      summary: List the Followed Shows
      tags:
      - followed shows
  /user/follows/shows/{show_id}:
    parameters:
    - in: path
      name: show_id
      required: true
      schema:
        type: integer
    delete:
      responses:
        '200':
          description: The show is now unfollowed
        '404':
          description: This show was not followed
      summary: Unfollow a Show
      tags:
      - followed shows
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowFollow'
          description: The followed show
        '404':
          description: This show is not followed
      summary: Check if a Show is Followed
      tags:
      - followed shows
    put:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowFollow'
          description: This show is now followed
        '404':
          description: This show does not exist
      summary: Follow a Show
      tags:
      - followed shows
components:
  schemas:
    Show:
      type: object
    ShowFollow:
      properties:
        _embedded:
          properties:
            show:
              $ref: '#/components/schemas/Show'
          type: object
        show_id:
          type: integer
      type: object
  securitySchemes:
    usertoken:
      scheme: basic
      type: http
